<p style="color: green"><%= notice %></p>

<table class='table'>
  <%= render @friend %>
</table>

<br/>

<div>
  <%= link_to "Edit", edit_friend_path(@friend), class:'btn btn-secondary' %> |
  <%= link_to "Back", friends_path, class:'btn btn-secondary' %> 
  <br/>
  <br/>
  <%= button_to "Delete", @friend, method: :delete, class:'btn btn-secondary' %>
</div>
